<!DOCTYPE html>
<html>
    <head>
        <title>Inscription</title>
    </head>

    <body>
        <h1>Inscription</h1>
        <form method="POST">
            <input type="text" name="nom" placeholder="Nom">
            <input type="text" name="prenom" placeholder="Prénom">
            <input type="password" name="mot_de_passe" placeholder="Mot de passe">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="telephone" placeholder="Téléphone">
            <input type="submit" name="inscrire" value="Inscrire">
        </form>
    </body>
</html>